#editor {
    height: 400px;
}

#sketch {
    /* cursor: none; */
}

#support-message {
    background-color: red;
    border: solid black 1px;
    color: white;
    display: none;
    font-weight: bold;
    padding: 7px;
}
#error-message {
  color: red;
}

.pjsconsole {
    height: 200px !important;
    position: initial !important;
}
.pjsconsole .console {
    height: 200px !important ;
    position: initial !important;
}