pre {
    margin: 0;
}

#sketch {
    resize: both;
}

#editor {
    height: 400px;
}

.cursor-none {
    cursor: none;
}

#support-message {
    background-color: red;
    border: solid black 1px;
    color: white;
    display: none;
    font-weight: bold;
    padding: 7px;
}

#error-message {
    color: red;
}

.pjsconsole {
    background-color: #d8d8d8 !important;
    height: 50px !important;
    position: initial !important;
}

.pjsconsole .console {
    background-color: #d8d8d8 !important;
    color: #000 !important;
    font-family: monospace !important;
    height: 50px !important;
    position: initial !important;
}

.pjsconsole .dragger {
    display: none !important;
}

.pjsconsole .closer {
    display: none !important;
}

.monospace {
    font-family: monospace;
}

#fontStuff {
    margin-top: 7px;
}

#container-require-zip {
    margin: 4px 2px 4px 0;
}

#files-list-container {
    display: none;
}

#main {
    background-color: #fff;
    margin: 0 auto 0 auto;
    max-width: 1024px;
    min-width: 891px;
    padding: 14px;
}

#canvas-container {
    background-image: url('graythread.jpg');
    border: solid #E6E6E6 1px;
    overflow: hidden;
    height: 500px;
}

#ui-canvas-container {
    margin-bottom: 14px;
}

#editor-container {
    margin-top: 14px;
}

#console-container {
    margin-top: 14px;
}

body {
    background-color: #e6e9e9;
}

#run {
    flex: 8;
}

#controls-container {
    overflow: hidden;
    /* overflow-y: scroll; */
    margin-right: 14px;
}

#run-button-container {
    margin-bottom: 7px;
    display: flex;
}

#file-name-header {
    margin: 0;
}

.see-through {
    opacity: 0.8;
}
.btn-green {
    background-color: limegreen;
    border-color: palegreen;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 0 7px;
    text-align: center;
}

#sketch-previous, #sketch-next {
    display: none;
    flex: 1;
}

#sketch-previous:disabled, #sketch-next:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
